body {
    --text-scale: 2.5;
    --aspect-ratio: 1.78;
    margin: 0;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: calc(1vh * var(--aspect-ratio) * var(--text-scale));
    }
}

@media (max-aspect-ratio: 16/9) {
    body {
        font-size: calc(1vw * var(--text-scale));
    }
}

section {
    overflow: hidden;
    counter-increment: slide;
    box-sizing: border-box;
    height: 100vh;
    max-height: calc(100vw / var(--aspect-ratio));
    width: calc(100vh * var(--aspect-ratio));
    max-width: 100%;
    padding: 2em 2.5em;
    text-align: left;
    page-break-after: always;
    page-break-inside: avoid;
    page-break-before: always;
    position: relative;
}

section:not(.title)::after {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    content: counter(slide);
}

section h1 {
    margin: 0;
    margin-bottom: 0.7em;
    text-align: center;
}

section.title>h1 {
    margin: 0;
    position: relative;
    top: calc(50% - 1em);
}

section code {
    white-space: pre-wrap;
    display: block;
    text-align: left;
}

section footer {
    position: absolute;
    bottom: 2em;
}

@media print {
    body {
        background: black !important;
    }

    @page{
        margin: 0;
        size: landscape;
        size: 12in 19in landscape;
    }
}

/*misc*/
body {
    user-select: none;
    overflow: hidden;
    cursor: pointer !important;
}

::selection {
    color: inherit;
    background: transparent;
}
