body {
    --text-scale: 2.5;
    --aspect-ratio: 1.78;
    margin: 0;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: calc(1vh * var(--aspect-ratio) * var(--text-scale));
    }
}

@media (max-aspect-ratio: 16/9) {
    body {
        font-size: calc(1vw * var(--text-scale));
    }
}

section {
    --horizontal-padding: 2.5em;
    --vertical-padding: 2em;
    overflow: hidden;
    counter-increment: slide;
    box-sizing: border-box;
    height: 100vh;
    max-height: calc(100vw / var(--aspect-ratio));
    width: calc(100vh * var(--aspect-ratio));
    max-width: 100%;
    padding: var(--vertical-padding) var(--horizontal-padding);
    text-align: left;
    position: relative;
    margin: 0 auto;
}

section::after {
    position: absolute;
    right: 5em;
    bottom: var(--vertical-padding);
    content: counter(slide);
}


section:empty::after,
section:first-of-type::after,
section.agenda::after,
section:empty .progressbar,
section:first-of-type .progressbar,
section.agenda .progressbar {
    display: none;
}

section[data-title]:before,
section h1 {
    content: attr(data-title);
    margin: 0;
    margin-bottom: 0.5em;
}

section>*:first-child {
/*    padding-top: 0;*/
    margin-top: 0;
}

section[data-title]:empty:before,
section[data-title].title:before {
    position: relative;
    top: calc(50% - 1em);
}

section code {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    padding: 1em 2em;
    tab-size: 4;
}

section footer {
    position: absolute;
    bottom: 2em;
}

section {
    counter-reset: footnote-link-counter;
}

section *[data-footnote]:after {
    content: " [" counter(footnote-link-counter) "]";
    counter-increment: footnote-link-counter;
    vertical-align: super;
}

section .footnotes {
    line-height: 1.7em;
    counter-reset: footnote-counter;
    list-style-type: none;
    padding: 0;
    position: absolute;
    bottom: var(--vertical-padding);
}

section .footnotes > * {
    display: list-item;
}

section .footnotes>*:before {
    content: "[" counter(footnote-counter) "]  ";
    counter-increment: footnote-counter;
}

@media print {
    body {
        background: black !important;
    }
    section {
        background: var(--background-color) url('template/bg.svg');
        background-size: cover;
        page-break-after: always;
        page-break-inside: avoid;
        page-break-before: always;
    }
    @page {
        margin: 0;
        size: landscape;
        size: 12in 19in landscape;
    }
}

section.agenda ol {
    list-style-type: none;
    column-count: 2;
    column-fill: auto;
    height: 24em;
}

section ol > *, 
section ul > * {
    display: list-item;
}

section li:last-child {
    padding-bottom: 0;
}

section[data-footer]:after {
    content: attr(data-footer);
    bottom: var(--vertical-padding);
    display: block;
    right: unset;
}

section .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}

body {
    cursor: pointer !important;
    overflow: hidden;
}

ul {
    padding-left: 2em;
}

::selection {
    color: inherit;
    background: transparent;
}


.progressbar {
    display: block;
    width: 1.7em;
    height: 1.7em;
    position: absolute;
    right: 2.3em;
    bottom: 1.4em;
}

.progressbar path {
    d: path('M 50 50 m 0 -47 a 47 47 0 1 1 0 94 a 47 47 0 1 1 0 -94');
    fill-opacity: 0;
    stroke-dasharray: 300;
    stroke-dashoffset: calc(var(--progress) * -300);
}