body {
    --text-scale: 2.5;
    --aspect-ratio: 1.78;
    margin: 0;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: calc(1vh * var(--aspect-ratio) * var(--text-scale));
    }
}

@media (max-aspect-ratio: 16/9) {
    body {
        font-size: calc(1vw * var(--text-scale));
    }
}

section {
    --horizontal-padding: 2.5em;
    --vertical-padding: 2em;
    overflow: hidden;
    counter-increment: slide;
    box-sizing: border-box;
    height: 100vh;
    max-height: calc(100vw / var(--aspect-ratio));
    width: calc(100vh * var(--aspect-ratio));
    max-width: 100%;
    padding: var(--vertical-padding) var(--horizontal-padding);
    text-align: left;
    position: relative;
    margin: 0 auto;
}

section:not(:empty):not(:first-of-type)::after {
    position: absolute;
    right: 5em;
    bottom: 3em;
    content: counter(slide);
}

section[data-title]:before,
section h1 {
    content: attr(data-title);
    display: inline-block;
    margin: 0;
    margin-bottom: 0.5em;
    text-align: left;
}

section>*:first-child {
/*    padding-top: 0;*/
    margin-top: 0;
}

section[data-title]:empty:before,
section[data-title].title:before {
    position: relative;
    top: calc(50% - 1em);
}

section code {
    white-space: pre-wrap;
    display: block;
    text-align: left;
    padding: 1em 2em;
    tab-size: 4;
}

section footer {
    position: absolute;
    bottom: 2em;
}

section .footnote-link,
section sup {
    vertical-align: super;
}

section .footnote-link:before,
section sup:before {
    content: " [";
}

section .footnote-link:after,
section sup:after {
    content: "]";
}

section .footnotes {
    line-height: 1.7em;
}

section .footnotes {
    counter-reset: footnote-counter;
    list-style-type: none;
    padding: 0;
    position: absolute;
    bottom: var(--vertical-padding);
}

section .footnotes>*:before {
    content: "[" counter(footnote-counter) "]  ";
    counter-increment: footnote-counter;
}

@media print {
    body {
        background: black !important;
    }
    section {
        background: var(--background-color) url('template/bg.svg');
        background-size: cover;
        page-break-after: always;
        page-break-inside: avoid;
        page-break-before: always;
    }
    @page {
        margin: 0;
        size: landscape;
        size: 12in 19in landscape;
    }
}

section.agenda ol {
    list-style-type: none;
}

section[data-footer]:after {
    content: attr(data-footer);
    position: absolute;
    bottom: 1em;
    display: block;
}

section .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
}

body {
    cursor: pointer !important;
    overflow: hidden;
}

ul {
    padding-left: 2em;
}

::selection {
    color: inherit;
    background: transparent;
}
