@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,700');

body {
    --background-color: #1c7ff7;
    --content-color: white;
    background: var(--background-color);
}

section {
    background: var(--background-color);
    color: var(--content-color);
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-weight: 100;
    line-height: 1.8em;
}

section::after {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5em;
    font-weight: 100;
}

section.title>h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 2em;
}

section code {
    background: transparent;
    line-height: 1.8em;
    font-family: 'Overpass Mono', 'Roboto Mono', 'FiraCode', monospace;
    font-weight: 100;
    font-variant-ligatures: contextual;
}

section h1 {
    font-weight: 100;
    font-family: 'Roboto Slab';
    font-size: 2em;
}