@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,700');

body {
    --background-color: #1c7ff7;
    --content-color: white;
    --text-scale: 2.3;
    background: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: var(--background-color) url('template/bg.svg');
    background-size: cover;
    background-attachment: fixed;
}

section {
    color: var(--content-color);
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-weight: 100;
    line-height: 1.8em;
}

section::after {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5em;
    font-weight: 100;
}

section code {
    background: var(--background-color);
    color: rgba(255, 255, 255, 0.8);
    padding: 1em 2em;
    line-height: 1.8em;
    font-family: 'Overpass Mono', 'Roboto Mono', 'FiraCode', monospace;
    font-weight: 100;
    font-variant-ligatures: contextual;
    font-size: 0.5em;
}

section code strong {
    color: white;
    font-weight: 800;
}

section[data-title]:before,
section h1 {
    font-weight: 100;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3em;
}

section[data-title]:hover:before {
    background: white;
    color: var(--background-color);
    font-weight: 800;
    display: inline-block;
    padding: 0.1em 0.2em 0.2em 0.2em;
    margin-bottom: 0;
    text-align: left;
}

section.title h1 {
    font-size: 3em;
}
