@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('ComputerModern-Concrete.woff') format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
	font-family: 'Overpass Mono';
	src: url('OverpassMono-Light.woff') format('woff');
    font-weight: light;
}

body {
    --background-color: white;
    --content-color: black;
    --text-scale: 2.0;
    background: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    background: var(--background-color);
    color: var(--content-color);
    font-family: 'Computer Modern Concrete', serif;
    line-height: 1.8em;
}

section::after {
    font-size: 0.5em;
    font-weight: 100;
    opacity: 0.5;
}

section code {
    font-family: 'Overpass Mono', monospace;
    font-weight: 100;
    font-size: 0.5em;
    background: var(--background-color);
    border: 1px dashed var(--content-color);
    line-height: 1.8em;
}

section code strong {
    font-weight: 800;
}

section[data-title]:before,
section h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.3em;
    font-weight: 800;
    background: var(--content-color);
    color: var(--background-color);
    padding: 0.2em 0.2em 0.3em 0.2em;
}

section[data-title]:empty:before,
section[data-title].title:before {
    font-size: 3em;
}

section:empty,
section.title {
    background: var(--background-color) url('cc-logo.svg');
}

section[data-footer]:after {
    font-size: 1em;
    opacity: 1;
}

section .footnote-link,
section sup,
section .footnotes {
    font-size: 0.5em;
    opacity: 0.5;
}

