@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url(OpenSans-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	src: url('RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
	font-family: 'Overpass Mono';
	src: url('OverpassMono-Light.woff') format('woff');
    font-weight: light;
}

body {
    --background-color: white;
    --content-color: black;
    --text-scale: 1.65;
    background: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: square;
}

li, td {
    padding-bottom: 1em;
    line-height: 1.7em;
}

section {
    background: var(--background-color);
    color: var(--content-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 2.3em;
}

section::after {
    font-size: 0.5em;
    font-weight: 100;
    opacity: 0.5;
}

section code {
    font-family: 'Overpass Mono', monospace;
    font-weight: 100;
    font-size: 0.6em;
    background: var(--background-color);
    border: 1px dashed var(--content-color);
    line-height: 1.5em;
}

/*section code .hljs-keyword, */
section code .hljs-attribute, 
section code .hljs-selector-tag, 
section code .hljs-meta-keyword, 
section code .hljs-doctag,
section code .hljs-name {
    font-weight: 100;
}

section code strong,
section code .hljs-comment,
section code .hljs-keyword,
section code .hljs-title,
section code .hljs-string, 
section code .hljs-number,
section code .hljs-literal
{
    font-weight: 800;
}

section code .hljs-keyword
{
/*    color: #0000ff;*/
}

section code .hljs-string, 
section code .hljs-number,
section code .hljs-literal {
    color: #a31515;
}

section code .hljs-meta {
    color: #00b79f;
    color: #0000ff;
}

section code .hljs-title {
    color: #007cff;
}

section code .hljs-comment {
    color: #008000;
}

section[data-title]:before,
section h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.3em;
    font-weight: 800;
    background: var(--content-color);
    color: var(--background-color);
    padding: 0.2em 0.2em 0.3em 0.2em;
}

section[data-title]:empty:before,
section[data-title].title:before {
    font-size: 3em;
}

section:empty,
section.title {
    background: var(--background-color) url('cc-logo.svg');
}

section {
    background: var(--background-color) url('cc-logo-2.svg');
}

section[data-footer]:after {
    font-size: 1em;
    opacity: 1;
}

section .footnote-link,
section sup,
section .footnotes {
    font-size: 0.5em;
    opacity: 0.5;
}

.irrelevant {
    opacity: 0.3;
}

.hideIrrelevant .irrelevant,
.hideIrrelevant .footnote-link,
.hideIrrelevant sup,
.hideIrrelevant .footnotes {
    display: none;
}
