@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    src: url(OpenSans-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('OverpassMono-Light.woff') format('woff');
    font-weight: light;
}

body {
    --background-color: white;
    --content-color: black;
    --text-scale: 1.65;
    background: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: square;
}

li,
td {
    padding-bottom: 1em;
    line-height: 1.7em;
}

section {
    background: var(--background-color);
    color: var(--content-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 2.3em;
}

section::after {
    font-size: 0.5em;
    bottom: calc(2 * var(--vertical-padding));
    line-height: 1em;
    font-weight: 100;
    opacity: 0.5;
}

section code {
    font-family: 'Overpass Mono', monospace;
    font-weight: 100;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 1em 0;
}

section code ~ code {
    border-top: 1px solid rgba(128, 128, 128, 1);
}

/*section code .hljs-keyword, */

section code .hljs-attribute,
section code .hljs-selector-tag,
section code .hljs-meta-keyword,
section code .hljs-doctag,
section code .hljs-name {
    font-weight: 100;
}

section code strong,
section code .hljs-comment,
section code .hljs-keyword,
section code .hljs-title,
section code .hljs-string,
section code .hljs-number,
section code .hljs-literal,
section code .hljs-meta {
    font-weight: 800;
}

section code .hljs-keyword {
    /*    color: #0000ff;*/
}

section code .hljs-string,
section code .hljs-number,
section code .hljs-literal {
    color: #a31515;
}

section code .hljs-meta {
    color: #5800ff;
}

section code .hljs-title {
    color: #007cff;
}

section code .hljs-comment {
    color: #008000;
}

section[data-title]:before,
section h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.3em;
    font-weight: 800;
    background: var(--content-color);
    color: var(--background-color);
    padding: 0.2em 0.2em 0.3em 0.2em;
    display: table;
    text-align: left;
}

section[data-title]:empty:before,
section[data-title].title:before {
    font-size: 4em;
    line-height: 1.2em;
    padding: 0.1em 0.2em;
}

section:empty,
section.title,
section.full-background {
    background: var(--background-color) url('../images/background-title.svg');
}

section {
    background: var(--background-color) url('../images/background.svg');
}

section[data-footer]:after {
    font-size: 1em;
    opacity: 1;
}

section .footnotes,
section *[data-footnote]:after {
    font-size: 0.5em;
    opacity: 0.7;
    font-weight: 100;
    bottom: calc(2 * var(--vertical-padding));
}

.irrelevant {
    opacity: 0.6;
}

.irrelevant,
.irrelevant * {
    font-weight: 100 !important;
}

.hideIrrelevant .irrelevant,
.hideIrrelevant .footnotes,
.hideIrrelevant *[data-footnote]:after {
    display: none;
}

.hideIrrelevant .irrelevant[data-replacement]::after {
    content: attr(data-replacement);
}

.progressbar path {
    stroke: var(--progress-color);
    stroke-width: 6px;
}

section:empty::before,
.shout {
    background: var(--content-color);
    color: var(--background-color);
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 4em;
    display: inline-block;
    margin: 0 auto;
    line-height: 1.3em;
    padding: 0 0.2em;
    position: relative;
    top: calc(50% - 1em);
}

section.agenda ol {
    height: 21em;
    font-size: 1.3em;
    line-height: 2.8em;
}

body.presenter-mode {
    overflow: hidden;
}
.presenter-mode section {
    margin-bottom: 100vh;
}

body.image-bg {
    background: var(--background-color) url(../images/background-blurred.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.image-bg section {
    background: transparent !important;
}






body:not(.light) {
    --background-color: #151515;
    --content-color: white;
}

body:not(.light) section[data-title]:before, 
body:not(.light) section h1,
body:not(.light) section:empty::before, 
body:not(.light) .shout {
    background: transparent;
    color: var(--content-color);
    font-family: inherit;
    font-weight: 100;
    font-size: 3em;
    padding-left: 0;
}

body:not(.light) section { 
    background: transparent;
}

body:not(.light) section:empty,
body:not(.light) section.title,
body:not(.light) section.full-background {
    background: var(--background-color) url('../images/background-blurred.svg');
}

body:not(.light) section code {
    padding: 1em 0;
    background: transparent;
}

body:not(.light) section code .hljs-meta {
    color: #a16fff;
}

body:not(.light) section code .hljs-title {
    color: #2b92ff;
}

body:not(.light) section code .hljs-comment {
    color: #58ff58;
}

body:not(.light) section code .hljs-string, 
body:not(.light) section code .hljs-number, 
body:not(.light) section code .hljs-literal {
    color: #ff5a5a;
}

body:not(.light) section .shout {
    font-size: 4em;
}
